.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header.on {
    background: rgba(0, 0, 0, 0.7);
}

.header h1 {
    min-width: 220px;
}

.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 80px;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb a {
    display: block;
    white-space: nowrap;
    color: #fff;
    font-size: 18px;
}

.header .customer_link {
    width: 220px;
}

.header .customer_link a {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.mainVisual {
    position: relative;
    z-index: 1;

    border-radius: 0 0 200px 0;
    overflow: hidden;
}

.mainVisual::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.3);
}

.mainVisual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    color: #fff;
}

.mainVisual .slogan h2 {
    margin: 0 0 30px 0;
    text-align: center;
    /* text-shadow: 0 0 3px #000; */
}

.mainVisual .slogan strong {
    display: block;
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 300;
}

.mainVisual .slogan span {
    font-size: 70px;
    font-weight: 700;
}

.mainVisual .slogan p {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    font-size: 15px;
    /* text-shadow: 0 0 3px #b2b2b2; */
    text-align: center;
}

.mainVisual .mainSlide .itm01 {
    height: 100vh;
    background: url(../imges/bg_intro01.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm02 {
    height: 100vh;
    background: url(../imges/bg_intro02.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm03 {
    height: 100vh;
    background: url(../imges/bg_intro03.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    padding: 5px 0;
    cursor: pointer;
}

.mainVisual .mainSlide .slick-dots>li button {
    position: relative;
    /* display: inline-block; */
    width: 80px;
    height: 4px;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    margin: 0 2px;

    border: none;
    outline: none;
    font-size: 0;
}


.mainVisual .mainSlide .slick-dots>li button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #369;
}

.mainVisual .mainSlide .slick-dots>li.slick-active button::after {
    width: 100%;
    transition: 3s;
}

.mainVisual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    max-width: 1400px;
    width: 100%;

}

.mainVisual .arrows i {
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    opacity: 0.5;
    transition: 1s;
}

.mainVisual .arrows .left {
    position: absolute;
    top: 0;
    left: 0;
}

.mainVisual:hover .arrows .left{
    opacity: 1;
    transform: translate(30px, 0);
}

.mainVisual .arrows .right {
    position: absolute;
    top: 0;
    right: 0;
}

.mainVisual:hover .arrows .right{
    opacity: 1;
    transform: translate(-30px, 0);
}

.mainVisual .scroll {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.mainVisual .scroll span {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.mainVisual .scroll span::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
}

.mainVisual .scroll span::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    animation: circle 1s infinite cubic-bezier(1,.99,.59,.59);
}

@keyframes circle {
    0% {
        transform: translate(-50%, 0);
        
    }

    10% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, 100px);    
    }

    70% {
        transform: translate(-50%, 100px);
        outline: 5px solid rgba(255, 255, 255, 0.3);
    }


    80% {
        transform: translate(-50%, 100px);
        outline: 15px solid rgba(255, 255, 255, 0.3);
    }

    90% {
        transform: translate(-50%, 100px);
        outline: 25px solid rgba(255, 255, 255, 0.3);
    }

    95% {
        transform: translate(-50%, 100px);
        outline: 30px solid rgba(255, 255, 255, 0.2);
    }

    100% {
        transform: translate(-50%, 100px);
        outline: 30px solid rgba(255, 255, 255, 0.1);
    }

}

.mainContent .tit {
    margin: 0 auto 30px auto;
    text-align: center;
}

.mainContent h2 strong{
    display: block;
    font-size: 14px;
    margin: 0 0 10px 0;
}

.mainContent h2 span {
    font-size: 40px;
    font-weight: 500;
    color: #866750;
}

.mainContent .inner {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.mainContent figure {
    text-align: center;
}

.mainContent .img_box {
    position: relative;
    margin: 0 0 20px 0;
}

.mainContent .img_box::after {
    content: attr(data-title);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 30px;
    color: #fff;
    background: #866750;
    text-align: center;
}

.mainContent .title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 18px 0;
}

.mainEvent {
    padding: 100px 0 400px 0;
    background: url(../imges/bg_main2.jpg)no-repeat left bottom/cover;
}

.mainEvent h2 {
    color: #fff;
}

.mainEvent span{
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}

.mainEvent strong{
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}

.mainEvent .tit{
    margin: 0 auto 30px auto;
}

.mainEvent .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.mainEvent .itm {
    padding: 40px 50px;
    background: rgba(251,139,30,0.5);
    color: #fff;
    text-align: center;
    border-radius: 30px;
}

.mainEvent .itm h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.footer {
    padding: 80px 0;
    font-size: 12px;
}

.footer .title {
    font-family: 'Noto Serif KR', serif;
    padding: 30px 0;
    text-align: center;
    font-size: 50px;
    color: #ddd;
}

.footer .title span {
    position: relative;
}

.footer .title span::after {
    content:"“카시아 속초는 대포항 앞바다와 바로 연결”";
    position: absolute;
    top: 0;
    left: 0;
    color: #333;

    width: 50px;
    white-space: nowrap;
    overflow: hidden;

    border-right: 1px solid #999;
    transition: 3s;
    
    animation: tt 3s infinite steps(30, end);
    /* transition-timing-function: steps(24, end); */
}

.footer .title:hover span::after {
    width: 1015px;
}

@keyframes tt {
    0% {
        width: 0;
    }

    100% {
        width: 1015px;
    }
}



.tbtn {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 0;
    font-size: 15px;
    width: 20px;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s;
}

.tbtn:hover {
    width: 100px;
}

.footer ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 0 5px 0;
}

.footer ul>li {
    position: relative;
}

.footer ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    width: 1px;
    height: 8px;
    background: #ddd;
}

.footer address {
    text-align: center;
}

.mopen {
    display: none;
}






/*

768px 반응형 css

*/










@media (max-width : 768px) {
    .header {

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;

    }
    
    .header.on {
        background: rgba(0, 0, 0, 0.7);
    }
    
    .header h1 {
        position: relative;
        z-index: 1000;
        min-width: 0;
    }
    
    .header .header_wrap {
        display: flex;
        align-items: center;
        height: 100px;
        padding: 0 15px;
    }

    .header .gnb{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        
        left: 0;
    }

    .heaer .gnb.on {
        background: rgba(51, 51, 51, 0.35);
        left: 0;
    }
    
    .header .gnb>ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: rgba(51, 102, 153, 1);
        gap: 0;
        left: -100%;
        height: 100%;
        width: calc(100% - 90px);

        padding: 150px 15px 0 15px;
    }

    .header .gnb.on>ul {
        left: 0;
    }
    
    .header .gnb a {
        display: block;
        white-space: nowrap;
        color: #fff;
        font-size: 18px;
        line-height: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    
    .header .customer_link {
        position: fixed;
        bottom: 50px;
        left: 20px;
        width: 220px;
    }
    
    .header .customer_link a {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }
    
    .mainVisual {
        position: relative;
        z-index: 1;
    
        border-radius: 0 0 200px 0;
        overflow: hidden;
    }
    
    .mainVisual::after {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background: rgba(0, 0, 0, 0.3);
    }
    
    .mainVisual .slogan {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    
        color: #fff;
    }
    
    .mainVisual .slogan h2 {
        margin: 0 0 30px 0;
        text-align: center;
        /* text-shadow: 0 0 3px #000; */
    }
    
    .mainVisual .slogan strong {
        display: block;
        margin: 0 0 20px 0;
        font-size: 3vw;
        font-weight: 300;
    }
    
    .mainVisual .slogan span {
        font-size: 10vw;
        font-weight: 700;
    }
    
    .mainVisual .slogan p {
        display: block;
        max-width: 400px;
        margin: 0 auto;
        font-size: 15px;
        /* text-shadow: 0 0 3px #b2b2b2; */
        text-align: center;
    }
    
    .mainVisual .mainSlide .itm01 {
        height: 100vh;
        background: url(../imges/bg_intro01.jpg)no-repeat center center/cover;
    }
    
    .mainVisual .mainSlide .itm02 {
        height: 100vh;
        background: url(../imges/bg_intro02.jpg)no-repeat center center/cover;
    }
    
    .mainVisual .mainSlide .itm03 {
        height: 100vh;
        background: url(../imges/bg_intro03.jpg)no-repeat center center/cover;
    }
    
    .mainVisual .mainSlide .slick-dots {
        position: absolute;
        bottom: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    
    }
    
    .mainVisual .mainSlide .slick-dots>li {
        display: inline-block;
        padding: 5px 0;
        cursor: pointer;
    }
    
    .mainVisual .mainSlide .slick-dots>li button {
        position: relative;
        /* display: inline-block; */
        width: 20px;
        height: 5px;
        background: #fff;
        border-radius: 2px;
        overflow: hidden;
        margin: 0 2px;
    
        border: none;
        outline: none;
        font-size: 0;
    }
    
    
    .mainVisual .mainSlide .slick-dots>li button::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #369;
    }
    
    .mainVisual .mainSlide .slick-dots>li.slick-active button::after {
        width: 100%;
        transition: 3s;
    }
    
    .mainVisual .arrows {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    
        max-width: 1400px;
        width: 100%;
    
    }
    
    .mainVisual .arrows i {
        padding: 20px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        color: #fff;
        font-size: 25px;
        opacity: 0.5;
        transition: 1s;
    }
    
    .mainVisual .arrows .left {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .mainVisual:hover .arrows .left{
        opacity: 1;
        transform: translate(30px, 0);
    }
    
    .mainVisual .arrows .right {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .mainVisual:hover .arrows .right{
        opacity: 1;
        transform: translate(-30px, 0);
    }
    
    .mainVisual .scroll {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 999;
    }
    
    .mainVisual .scroll span {
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
    }
    
    .mainVisual .scroll span::before {
        content: "";
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 1px;
        height: 100px;
        background: rgba(255, 255, 255, 0.5);
    }
    
    .mainVisual .scroll span::after {
        content: "";
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 50%;
        animation: circle 1.5s infinite cubic-bezier(1,.99,.59,.59);
    }
    
    @keyframes circle {
        0% {
            transform: translate(-50%, 0);
            
        }
    
        25% {
            transform: translate(-50%, 0);
        }
    
        50% {
            transform: translate(-50%, 100px);    
        }
    
        70% {
            transform: translate(-50%, 100px);
            outline: 5px solid rgba(255, 255, 255, 0.3);
        }
    
    
        80% {
            transform: translate(-50%, 100px);
            outline: 15px solid rgba(255, 255, 255, 0.3);
        }
    
        90% {
            transform: translate(-50%, 100px);
            outline: 25px solid rgba(255, 255, 255, 0.3);
        }
    
        95% {
            transform: translate(-50%, 100px);
            outline: 30px solid rgba(255, 255, 255, 0.2);
        }
    
        100% {
            transform: translate(-50%, 100px);
            outline: 30px solid rgba(255, 255, 255, 0.1);
        }
    
    }
    
    .mainContent .tit {
        margin: 0 auto 30px auto;
        text-align: center;
    }
    
    .mainContent h2 strong{
        display: block;
        font-size: 14px;
        margin: 0 0 10px 0;
    }
    
    .mainContent h2 span {
        font-size: 40px;
        font-weight: 500;
        color: #866750;
    }
    
    .mainContent .inner {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    
    .mainContent figure {
        text-align: center;
    }
    
    .mainContent .img_box {
        position: relative;
        margin: 0 0 20px 0;
    }
    
    .mainContent .img_box::after {
        content: attr(data-title);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        line-height: 30px;
        color: #fff;
        background: #866750;
        text-align: center;
    }
    
    .mainContent .title {
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 18px 0;
    }
    
    .mainEvent {
        padding: 100px 0 400px 0;
        background: url(../imges/bg_main2.jpg)no-repeat 20% bottom/cover;
    }
    
    .mainEvent h2 {
        color: #fff;
    }
    
    .mainEvent span{
        display: block;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
    }
    
    .mainEvent strong{
        display: block;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
    }
    
    .mainEvent .tit{
        margin: 0 auto 30px auto;
    }
    
    .mainEvent .inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    
    .mainEvent .itm {
        padding: 40px 50px;
        background: rgba(251,139,30,0.5);
        color: #fff;
        text-align: center;
        border-radius: 30px;
    }
    
    .mainEvent .itm h3 {
        font-size: 25px;
        font-weight: 500;
        margin: 0 0 20px 0;
    }
    
    .footer {
        padding: 80px 0;
        font-size: 12px;
    }
    
    
    .footer ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        align-items: center;

        margin: 0 0 5px 0;
    }
    
    .footer ul>li {
        position: relative;
    }
    
    .footer ul>li~li::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translate(0, -50%);
        width: 1px;
        height: 8px;
        background: #ddd;

        display: none;
    }
    
    .footer address {
        text-align: center;
    }
    
    .mopen {
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
    }

    .mopen i {
        background: #f9f9f9;
        font-size: 24px;
        padding: 3px;
        border-radius: 3px;
    }

    .mopen span:before {
        content: "\e91c";
        font-family: xeicon;
        display: block;
        background: #f9f9f9;
        font-size: 24px;
        padding: 3px;
        border-radius: 3px;
    }
    .mopen.on span:before {
        content: "\e921";
    }
}